<nav>
    <div class="container">
        <div class="item">
            the shop
        </div>
        <div class="item">
            <a href="{{ site.baseurl }}/">
            <img class="logo" src="{{ "/images/logo.png" | relative_url }}"></a>
        </div>
        <div class="item">
            the kombi
        </div>
        <div class="sharing">
            <a class="sharing-item" href="https://www.facebook.com/{{ site.data.company.facebook }}">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
            <a class="sharing-item" href="https://instagram.com/{{ site.data.company.instagram }}">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
    </div>
</nav>