<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<header>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
</header>

  <body>

    <nav>
      <div class="container">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" height="35"/></a>
        <div class="button">
          <a href="/#donate">Donate</a>
        </div>
      </div>
    </nav>
    <div class="content">
      {{ content }}
    </div>
  </body>

</html>
